<div class="contractor__edit">
  <p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
  <div>
    <h3><%= (@customer.name) %>さんの会員情報編集</h3>
  </div>

  <%= form_with model: @customer, url: admin_contractor_path do |f| %>
  <table class="table">

    <tr>
      <td>会員ID</td>
      <td><%= @customer.id %></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><label>氏名</label></td>
      <td><%= f.text_field :name, id: "customer_name", value: @customer.name %></td>
      <td></td>
    </tr>

    <tr>
      <td><label>フリガナ</label></td>
      <td><%= f.text_field :name_kana, id: "customer_name_kana", value: @customer.name_kana %></td>
      <td></td>
    </tr>

    <tr>
      <td><label>郵便番号</label></td>
      <td><%= f.text_field :post_code, id: "customer_post_code", value: @customer.post_code, class: "form-control post_code" %></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><label>住所</label></td>
      <td><%= f.text_field :address, id: "customer_address", value: @customer.address %></td>
      <td></td>
    </tr>

    <tr>
      <td><label>電話番号</label></td>
      <td><%= f.text_field :telephone_number, id: "customer_telephone_number", value: @customer.telephone_number, class: "form-control telephone_number" %></td>
    </tr>

    <tr>
      <td><label>メールアドレス</label></td>
      <td><%= f.text_field :email, id: "customer_email", value: @customer.email, class: "form-control email" %></td>
      <td></td>
      <td></td>
    </tr>
    
    <tr>
      <td><label for="customer_name">会社名</label></td>
      <td><%= f.text_field :company_name, id: "customer_name", value: @customer.company_name %></td>
      <td></td>
    </tr>
    
    <tr>
      <td><label>会社名カナ</label></td>
      <td><%= f.text_field :company_name_kana, id: "customer_name", value: @customer.company_name_kana %></td>
    </tr>

    <tr>
      <td>会員ステータス</td>
      <td>
        <div>
          <%= f.radio_button :is_menber, false %>
          <%= f.label :is_menber, "入会", {value: :true, style: "display: inline-block"} %>
          <%= f.radio_button :is_menber, true %>
          <%= f.label :is_menber, "退会", {value: :true, style: "display: inline-block"} %>
        </div>
      </td>
    </tr>
  </table>

  <div class="row">
    <div style="padding: 10px;">
      <%= f.submit "変更を保存",  class: "button button__red" %>
    </div>
    <div>
      <%= link_to "顧客一覧へ戻る", admin_contractors_path, class: "button button__pink" %>
      <%= link_to "注文履歴一覧を見る", admin_root_path, class: "button button__pink" %>
    </div>
  </div>
  <% end %>
</div>