<div class="contractor__show">
  <p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
  <div>
    <h3><%= @customer.name %>さんの会員詳細</h3>
  </div>
  
  <div>
    <div>
      <table>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
    
        <tr>
          <td>氏名</td>
          <td><%= (@customer.name) %></td>
        </tr>
    
        <tr>
          <td>フリガナ</td>
          <td><%= (@customer.name_kana) %></td>
        </tr>
    
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.post_code %></td>
        </tr>
    
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
    
        <tr>
          <td>電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
    
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        
        <tr>
          <td>会社名</td>
          <td><%= (@customer.company_name) %></td>
        </tr>
    
        <tr>
          <td>会社名カナ</td>
          <td><%= (@customer.company_name_kana) %></td>
        </tr>
    
        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @customer.is_menber %>
              <b class="text-muted">退会</b>
            <% else %>
              <b class="text-success">有効</b>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div>
    <div>
      <%= link_to "編集する", edit_admin_contractor_path(@customer), class: "button button__red" %>
    </div>
    <div>
      <%= link_to "顧客一覧へ戻る", admin_contractors_path, class: "button button__pink" %>
      <%= link_to "注文履歴一覧を見る", admin_root_path, class: "button button__pink" %>
    </div>
  </div>

</div>