<div class="contractors" >
  <div>
    <h3>マイページ</h3>
  </div>
  
  <div class="contractors__show">
    <table>
      <tr>
        <th>登録情報</th>
        <% if current_customer.email != "guest@example.com" %> 
        <td><%= link_to "編集する", edit_contractors_path, class: "button button__blue" %></td>
        <% end %>
      </tr>
    </table>
  </div>
  
  <div class="contractors__show">
    <table>
  
      <tr>
        <td>氏名</td>
        <td style="width:30%;"><%= @customer.name %></td>
      </tr>
  
      <tr>
        <td>カナ</td>
        <td><%= @customer.name_kana %></td>
      </tr>
  
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.post_code %></td>
      </tr>
  
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
  
      <tr>
        <td>電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
  
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
  
      <tr>
        <td>会社名</td>
        <td><%= @customer.company_name %></td>
      </tr>
      
      <tr>
        <td>会社名カナ</td>
        <td><%= @customer.company_name_kana %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td><%= link_to "一覧を見る", addresses_path, class: "button button__red" %></td>
        <th>注文履歴</th>
        <td><%= link_to "一覧を見る", orders_path, class: "button button__pink" %></td>
      </tr>
    </table>
    <% if current_customer.email != "guest@example.com" %>
      <div>
        <%= link_to "",edit_contractors_path,class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_customer_#{current_customer.id}" %>
      </div>
    <% end %>
  </div>
</div>