<div class="genre">
  <h4>ジャンル編集</h4>
  
  <%= form_with model: @genre, url: genre_path(@genre.id), method: :patch do |f| %>
  
        <div class="genre__name"><%= f.label :name, "ジャンル名" %></div>
        <div class="genre__name"><%= f.text_field :name %></div>
        <div class="genre__name"><%= f.submit '変更内容を保存する', class: "button button__sm" %></div>
  <% end %>
  
  <%= link_to "戻る", genres_path, class: "button button__sm" %>
</div>