<div class="order">
  <div>
    <h2>注文情報確認</h2>
  </div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @issues.each do |issue| %>
          <tr>
            <td><%= image_tag issue.receiving_stock.image,  size: "60x60" %></td>
            <td><%= issue.receiving_stock.name %></td>
            <td>￥<%= issue.add_tax_cost.to_s(:delimited) %></td>
            <td><%= issue.stock %></td>
            <td>￥<%= issue.subtotal.to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="order__shipping">
        <div>お届け先</div>
        <div>〒<%=  @order.address.post_code + "  " +@order.address.address %></div>
      </div>
    <div class="order__total">
      <div>送料</div><div><%= @postage %>円</div>
      <div>商品合計</div><div><%= @sub_total.to_s(:delimited) %>円</div>
      <div>請求金額</div><div><%= @total.to_s(:delimited) %>円</div>
    </div>
    <div>
      <%= form_with model: @order, url: orders_path, method: :post do |f| %>
        <%= f.hidden_field :address_id, :value => @order.address.id %>
      <div style="padding: 10px;">
        <%= f.submit "出荷を確定する", class: "button button__pink" %>
      </div>
      <% end %>
    </div>
</div>