<%= form_with model: @order, local: true do |f| %>
<tr> 
  <td><%= f.radio_button :select_address, 1 %>登録済み住所</td>
  <td><%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :post_code_in_address) %></td>
  <%= f.submit "出荷先確定" %>
</tr>
<div>
  <%= link_to "新規出荷先登録", addresses_path %>
</div>  

  <div>
  <%= f.submit "確認画面へ進む",class: "btn btn-info text-center" %>
  </div>
<% end %>