<div class="container">

  <h2 class="my-4">出荷情報確認画面</h2>

  <div class="row">
    <div class="col-7">
      <label class="font-weight-bold mb-2 ml-2" style="background-color:#DDDDDD;">
        出荷情報
      </label>
      <table class="table">
        <tr><th>出荷日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
        <tr><th>配送先</th><td><%= "〒" + @order.address.post_code + "  " + @order.address.address %></td></tr>>
      </table>
    </div>
    <div class="col-3">
       <label class="font-weight-bold mb-2 ml-2" style="background-color:#DDDDDD;">
        請求情報
      </label>
      <table class="table">
        <!--<tr><th>商品合計</th><td><%#= @order.total_payment - @postage %></td></tr>-->
        <tr><th>配送先</th><td><%= "〒" + @order.address.post_code + "  " + @order.address.address %></td></tr>
        <tr><th>送料</th><td><%= @postage %>円</td></tr>
        <tr><th>ご請求額</th><td><%= @total.to_s(:delimited) %>円</td></tr>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-8">
      <label class="font-weight-bold mb-2 ml-2" style="background-color:#DDDDDD;">
        出荷内容
      </label>
      <table class="table">
        <thead>
          <tr>
            <th>商品名  </th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
            <th>販売先企業</th>
          </tr>
        </thead>
        <tbody>
         
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.issue_name %></td>
            <td><%= order_detail.price.to_s(:delimited) %>円</td>
            <td><%= order_detail.stock %></td>
            <td><%= order_detail.total_amount.to_s(:delimited) %>円</td>
            <td><%= order_detail.sales_company_name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<div><%= link_to "一覧へ戻る", orders_path, class: "btn btn-info" %></div>
<div><%= link_to "削除する", order_path, method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-info" %></div>

</div>