<div class="container ">
  <div class="row mb-3">
    <h3>商品一覧</h3>  
    <%= link_to "新規登録", receiving_stocks_new_path %>
    <%= link_to "ジャンル追加",  genres_path %>
  </div>

  <table class="table  table-hover">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
      <% @receiving_stocks.each do |receiving_stock| %>
        <tr>
          <td><%= receiving_stock.id %></td>  
          <td>
            <%=link_to receiving_stock_path(receiving_stock.id) do %>
              <%= image_tag receiving_stock.image, size: "100x100" %>
              <%= receiving_stock.name %>
            <% end %>
          </td>
          <td>¥<%= receiving_stock.purchase_price %></td>
          <td><%= receiving_stock.genre.name %></td>
          <td>
            <% if receiving_stock.is_sales == true %>
              <div>販売中</div>
            <% else %>
              <div>販売停止中</div>
            <% end %>
          </td>
        </tr>
        <% end %>
  </table>
</div>