<div class="receiving_stock" >
  <h3>商品新規登録</h3>
    <%= render 'layouts/error', model: @receiving_stock %> 
    <%= form_with model: @receiving_stock, method: :post do |f| %>
      <div>商品画像</div>
      <%= f.file_field :image, accept: "image/*" %>
      
      <div>商品名</div>
      <%= f.text_field :name %>
      
      <div>商品説明</div>
      <%= f.text_area :explanation %>
      
      <div>ジャンル</div>
      <div class="receiving_stock__select">
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください" %>
      </div>
      <div>入庫価格</div>
      <%= f.number_field :purchase_price, placeholder: "500" %>円
      
      <div>入庫数</div>
      <%= f.number_field :stock, placeholder: "500" %>個
      
      <div>入荷会社</div>
      <%= f.text_area :conpany_name %>
      <!--<div class="receiving_stock__select">-->
      <!--  <%#= f.collection_select :company_name, Company.all, :name, :name, class: "button button__sm" %>-->
      <!--</div>-->
      
      <div>
        <div>販売ステータス</div>
          <%= f.radio_button :is_sales, "true" %>
          <%= f.label :is_sales, "販売中" %>
          <%= f.radio_button :is_sales,  "false" %>
          <%= f.label :is_sales, "販売停止中" %>
      </div>
      <tr>
        <td><%= f.submit '新規登録', class: "button" %></td>
        <td><%= link_to "戻る", receiving_stocks_path, class: "button button__sm" %></>
      </tr>
    <% end %>
</div>
