<!DOCTYPE html>
<html>
  <head>
    <title>InventoryManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <%= link_to "Inventory Management System", root_path %></div>
  <div>
    <ul>
      <% if admin_signed_in? %>
        <li class="nav-item p-2">
          <%= link_to "商品一覧", receiving_stocks_path, class: 'btn btn-primary' %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "会員一覧", admin_contractors_path, class: "btn btn-secondary" %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "注文一覧", admin_root_path, class: "btn btn-info" %>
          </li>
        <li class="nav-item p-2">
          <%= link_to "ジャンル", genres_path, class: "btn btn-warning" %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger" %>
        </li>
      <% elsif customer_signed_in? %>
        <div class="mt-3 mr-5 text-black">
          ようこそ、<%= current_customer.name %>さん!
        </div>
        <li class="nav-item p-2">
          <%= link_to "マイページ", mypage_contractors_path, class: 'btn btn-primary' %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "商品一覧", receiving_stocks_path, class: "btn btn-secondary" %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "カート",  orders_path, class: "btn btn-info" %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-danger" %>
        </li>
      <% else %>
        <li class="nav-item p-2">
          <%= link_to "about", about_path, class: 'btn btn-primary' %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "商品一覧", receiving_stocks_path, class: "btn btn-secondary" %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-info" %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "ログイン", customer_session_path, class: "btn btn-info" %>
        </li>
      <% end %>
   </ul>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
